*{
    box-sizing: border-box;
}

body, html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

input, body, .task{
    background-color: #333;
}

body, input{
    color: #006BDE;
}

input::-webkit-input-placeholder{
    color: #006BDE;
}

input::-moz-input-placeholder{
    color: #006BDE;
}

#container, #tasks, input, fieldset{
    border: 1px solid #006BDE;
    box-shadow: -2px 2px 5px #000;
}

#container{
    width: 75%;
    margin: 1em auto 0;
    padding: 1em 0;
}


h1, .actions{
    text-shadow: -2px 2px 5px #000;
}

h1 {
    font-size: 8em;
    line-height: 1.1;
    text-align: left;
    margin: 0 0 0 5%;
}

/* form styles*/

form{
    margin-top: 1rem;
}

fieldset{
    margin: 0 auto;
    width: 90%;
    padding: 1rem;
}

legend{
    font-size: 2em;
}

input{
    width: 60%;
    margin-right: 6%;
    font-size: 2em;
    text-indent: .3em;
}

input[type="submit"]{
    margin: 0;
    width: 33%;
    text-indent: 0;
}

/* task styles */
#tasks{
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
    list-style: none;
}

.task, .border-effect div:first-child{
    height: 75px;
    font-size: 1.4em;
}

#tasks .task:first-child{
    margin-top: 0;
}

.task{
    margin: 1em auto 0;
    position: relative;
    overflow: hidden;
    opacity: 1.0;
    transition: opacity 500ms ease-in-out, background-color 500ms ease-in-out;
}

.task.hide{
    opacity: 0;
    background-color: #006BDE;
}

.border-effect{
    height: 75px;
    border-width: 20px;
    border-color: rgba(0, 0, 0, 0);
    
    cursor: pointer; 
    border-style: solid;
    animation: borderFlash 500ms; 
}

.border-effect div:first-child{
    position: absolute;
    left: 0;
    top: 0;
}

.border-effect .actions{
    font-size: 1.6em;
    line-height: 1;
}

.border-effect .actions{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    vertical-align: middle;
}

.prioritize, .deprioritize{
    display: block;
}

@keyframes borderFlash{
    from{
        border-width: 40px;
        border-color: rgba(0, 0, 0, 0);
        border-style: solid;
        opacity: 0;
    }
    to{
        border-width: 0;
        border-color: rgba(0, 107, 222, 0.5);
        opacity: 1.0;
    }
}
